.header-logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.accent-header {
    color: var(--main-text-color);
}

.header-list .header-link.current {
    color: var(--accent-color);
}

.header-list .header-link.current::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-item {
    position: relative;
}

.header-link {
    color: var(--main-text-color);
    text-decoration: none;
    &hover,
    &:focus {
            color: var(--accent-color);
        }
}

// .header-link:hover,
// .header-link:focus {
//     color: var(--accent-color);
// }

.header-contacts a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.header-list a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
// .header-contacts a:hover,
// .header-contacts a:focus {
//     color: var(--accent-color);
// }

.header-portfolio {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-list {
    display: flex;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-list .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header-contacts {
    display: inline-block;
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header-contacts {
    display: inline-block;
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-item {
    display: inline-flex;
    align-self: center;
    align-items: center;
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

// .contacts-icon:hover,
// .contacts-icon:focus {
//     fill: var(--accent-color);
// }

.main-nav {
    display: flex;
    align-items: center;
}