body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);

}

address {
    margin-bottom: 9px;
}

img {
    display: block;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}